{% extends "web/_base.html" %}
{% block title %}Logged out{% endblock %}
{% block content %}
    <h1>Logged out</h1>
    <p>You have been logged out.</p>
    <p>
        <a href="{% url "homepage:homepage" %}">Homepage</a>
    </p>
{% endblock %}
