{% extends "web/_base.html" %}
{% block title %}List of workspaces{% endblock %}
{% block content %}
    <h1>List of workspaces</h1>
    <p>
        A Workspace is a concept tying together a set of Artifacts and a set of
        Users; workspaces are also the entities upon which access control rules are built.
        See <a href="https://freexian-team.pages.debian.net/debusine/explanation/concepts.html#workspaces">Workspaces documentation</a>
        for more details.
    </p>
    <p>This is a list of available workspaces you can access:</p>
    {% include "web/_workspace-list.html" with workspace_list=workspace_list user=user only %}
{% endblock %}
